.card {
    width: 100%;
    aspect-ratio: 1/1;
    border: solid 3px gainsboro;
    background-color: #002239;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    font-weight: 200;
    opacity: 0.8;

    .card-image {
        width: 100%;
        height: 50%;
        background-position: center; 
        background-size: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: auto;
        margin-top: 10px;
      }

      h2{
        width: 100%;
        height: 20%;
        text-align: left;
        margin-top: 10px;
        font-weight: 400;
      }

      .circle-container {
        position: relative;
        width: 100%; 
        height: 30%; 
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      
      .circle-svg {
        display: block;
        margin: 0 auto;
      }
      
      .circle-bg {
        fill: none;
        stroke: #f2f2f2;
        stroke-width: 4; /* Adjust the stroke width */
      }
      
      .circle-fill {
        fill: none;
        stroke:  	#001024; /* Fill color */
        stroke-width: 4; 
        opacity: 0.6;
        stroke-dasharray: 0;
        transition: stroke-dashoffset 0.5s ease; /* Add a smooth transition */
      }
      
      .circle-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;

        h2 {
          margin: 10;
          margin-top: 0;
          text-align: center;
          font-weight: 700;
        }
      }

      p {
        margin-bottom: 10px;
        font-size: 1.2em;

      }

  }


.card:hover {
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 768px) {
    
    .card {
        margin: 0;
        width: 100%;
        height: 80%;
        aspect-ratio: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-decoration: none; 
        overflow: hidden;

        .card-image {
            width: 95%;
            height: 150px;
            background-repeat: no-repeat;
            background-position: center center; 
            margin-bottom: 0;

        }

        h2 {
            width: 80%;
            margin-block-start: 0;
            font-size: 1.4em;
            font-weight: 300;
            margin-block-end: 0;
        }
    }
  }
  