.gallery-pro {
    display: grid;
    justify-content: center; 
    align-items: center;
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(1, 90%); 
    grid-gap: 20px;
    border-radius: 25px;
    background-color: #6790ca;
    border: 2px solid #DAA520;
    padding: 10px;




    .a {
        width: 90%;
    }
}